<div class="container" *transloco="let t; read: 'login'" [class.rtl]="isRtl" [class.mobile]="isMobile">
  <div class="top"></div>
  <div class="bottom"></div>
  <div class="center">
    <img [@fade]="(fade$ | async) ? 'hidden' : 'visible'" [src]="backgroundImage" class="photo" />
    <form class="login-form" [formGroup]="signInForm" (ngSubmit)="onSubmit()">
      <input type="text" [placeholder]="t('username')" formControlName="username" />
      <input
        type="password"
        [placeholder]="t('password')"
        formControlName="password"
      />
      <button
        class="login-button"
        type="submit"
        [disabled]="signInForm.invalid"
      >
      {{ t('submit') }}
      </button>
    </form>
  </div>
</div>
