<div
  *transloco="let t; read: 'newGuestForm'"
  [class.rtl]="isRtl"
  class="dialog"
>
  <h2 mat-dialog-title>{{ t("title") }}</h2>
  <mat-dialog-content>
    <form [formGroup]="guestForm" class="form" [class.rtl]="isRtl">
      <mat-form-field appearance="fill">
        <mat-label>{{ t("username") }}</mat-label>
        <input matInput type="text" formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t("hebrewname") }}</mat-label>
        <input matInput type="text" formControlName="hebrewname" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t("phone") }}</mat-label>
        <input matInput type="text" formControlName="phone" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t("confirmation") }}</mat-label>
        <mat-select formControlName="confirmation">
          <ng-container *transloco="let t">
            <mat-option
              *ngFor="let bool of [true, false]"
              [value]="bool"
              [class.mat-mdc-option-rtl]="isRtl"
            >
              {{ t("booleans." + bool.toString()) }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t("transport") }}</mat-label>
        <mat-select formControlName="transport">
          <ng-container *transloco="let t">
            <mat-option
              *ngFor="let bool of [true, false]"
              [value]="bool"
              [class.mat-mdc-option-rtl]="isRtl"
            >
              {{ t("booleans." + bool.toString()) }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>{{ t("participants") }}</mat-label>
        <input matInput type="number" formControlName="participants" />
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button class="action-button" mat-button mat-dialog-close>{{ t("cancel") }}</button>
    <button
    class="action-button"
      mat-button
      [mat-dialog-close]="guestForm.value"
      cdkFocusInitial
      [disabled]="guestForm.invalid || userExist || !phoneNumberValid"
    >
      {{ t("submit") }}
    </button>
  </mat-dialog-actions>
</div>