<div *transloco="let t; read: 'messageBox'" [class.rtl]="isRtl" class="dialog">
  <h2 mat-dialog-title>
    {{
      data.selectedUsers > 1
        ? t("guestsTitle", { selectedUsers: data.selectedUsers })
        : t("guestTitle")
    }}
  </h2>
  <mat-dialog-content>
    <form [formGroup]="form" class="form" [class.rtl]="isRtl">
      <div class="message-controls">
        <mat-checkbox formControlName="invitation">{{
          t("invitation")
        }}</mat-checkbox>
        <button mat-raised-button color="primary" (click)="addLink()">
          {{ t("link") }}
        </button>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>{{ t("messagePlaceholdeer") }}</mat-label>
        <textarea matInput formControlName="message"></textarea>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close class="action-button">
      {{ t("cancel") }}
    </button>
    <button
      class="action-button"
      mat-button
      cdkFocusInitial
      [disabled]="form.invalid"
      (click)="submitMessage()"
    >
      {{ t("submit") }}
    </button>
  </mat-dialog-actions>
</div>
