.mat-mdc-form-field {
  flex-direction: row !important;
}

.phone-rtl {
  text-align: right;
  direction: ltr;
}

@media only screen and (max-width: 760px) {
  .input-area {
    width: 160px;
  }

  .select {
    width: 110px;
  }
}
