.timer {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .column {
        display: flex;
        flex-direction: column;
        align-items: center;

        .date-value {
            font-size: 32px;
            font-family: "Lucida Console", monospace;
        }

        .date-label {
            font-size: 14px;
        }
    }
}
