<div class="for-your-information-page" [class.rtl]="isRtl">
  <div class="for-your-information-page__content">
    <div class="for-your-information-page__content__main">
      <div class="for-your-information-page__content__main__header">
        <span>KNOW NOW & HERE</span>
      </div>
      <div class="for-your-information-page__content__main__sub-header">
        <span>WHAT'S GONNA BE THERE</span>
      </div>
      <div class="for-your-information-page__content__main__divider">
        <img src="./assets/divider.png" />
      </div>
      <div class="for-your-information-page__content__main__info">
        <span class="for-your-information-page__content__main__info__part">
          בשעה 19:00 תחל קבלת הפנים ברחבת גן האירועים. קבלת הפנים תלווה בבופה
          ישראלי עשיר ב- 7 תחנות אוכל לחובבי בשר, לצמחוניים ולאלו שמעדיפים רק
          לשתות.
        </span>
        <span class="for-your-information-page__content__main__info__part">
          בשעה 20:00 בדיוק יחל טקס החופה והקידושין. לאורך שנים שימש הטקס הזה
          כמנגנון החיבור הרשמי וההצהרתי בין איש לאישה, כנקודת הפתיחה של בניית
          הבית היהודי.
        </span>
        <span class="for-your-information-page__content__main__info__part">
          צוות צלמים יתעד את האירוע כך שאתם תוכלו ליהנות מחוויית הרגע מבלי צורך
          להחזיק בפון. את ההליכה לחופה ילווה ירון על הגיטרה בניגון עתיק שמתנגן
          רק בזמנים מסוגלים ועיתות שמחה גדולים.
        </span>
        <span class="for-your-information-page__content__main__info__part">
          עם תום החופה אתם, אורחי הכבוד, תכנסו לפנים הגן ותהנו ממנה ראשונה
          כבחירתכם.
        </span>
        <span class="for-your-information-page__content__main__info__part">
          כשתמלאו מספיק קיבה, החתן והכלה יכנסו לאולם כזוג נשוי בפעם הראשונה.
          ומכאן חברים, קומו על הרגלים כי רשמית מתחילה החתונה.
        </span>
      </div>
    </div>
    <div class="for-your-information-page__content__additional">
      <div class="for-your-information-page__content__additional__item">
        <div
          class="for-your-information-page__content__additional__item__description"
        >
          <span
            class="for-your-information-page__content__additional__item__description__header"
            >לאינסטוש</span
          >
          <span
            class="for-your-information-page__content__additional__item__description__text"
            >מציעים לכם להגיע בזמן, לטרון היא איזור מישורי והשקיעה בו
            מדהימה</span
          >
        </div>
        <img
          src="./assets/instegram.png"
          class="for-your-information-page__content__additional__item__img"
        />
      </div>
      <div class="for-your-information-page__content__additional__item">
        <div
          class="for-your-information-page__content__additional__item__description"
        >
          <span
            class="for-your-information-page__content__additional__item__description__header"
            >חניה</span
          >
          <span
            class="for-your-information-page__content__additional__item__description__text"
            >מתחם חניה ללא תשלום בכניסה לגן. לחיצה על כפתור "ווייז" ישלח אותך
            ישירות לשם</span
          >
        </div>
        <img
          src="./assets/parking.png"
          class="for-your-information-page__content__additional__item__img"
        />
      </div>
      <div class="for-your-information-page__content__additional__item">
        <div
          class="for-your-information-page__content__additional__item__description"
        >
          <span
            class="for-your-information-page__content__additional__item__description__header"
            >אוכל</span
          >
          <span
            class="for-your-information-page__content__additional__item__description__text"
            >האוכל והמטבח בכשרות 'בד''ץ העדה החרדית' עם משגיח כשרות במקום</span
          >
        </div>
        <img
          src="./assets/food.png"
          class="for-your-information-page__content__additional__item__img"
        />
      </div>
    </div>
  </div>
</div>
