.for-your-information-page {
  width: 100%;
  height: 100%;
  background-color: #f3f1f0;
  overflow: auto;
  font-family: "avishag", sans-serif;

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    &__main {
      margin: auto;
      align-items: center;
      align-content: center;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__header {
        font-family: "new century", serif;
        font-size: 43px;
        font-weight: bold;
      }

      &__sub-header {
        font-family: "Gill Sans", sans-serif;
        font-size: 30px;
        font-weight: bold;
      }

      &__divider {
        width: 350px;
        img {
          width: 100%;
        }
      }

      &__info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
        width: 350px;
        font-size: 18px;

        &__part {
          text-align: center;
        }
      }

      @media only screen and (max-width: 760px) {
        &__header {
          font-size: 35px;
        }

        &__sub-header {
          font-size: 24px;
        }

        &__divider {
          width: 330px;
        }

        &__info {
          width: 330px;
          font-size: 16px;
        }
      }

      @media only screen and (max-width: 360px) {
        &__header {
          font-size: 33px;
        }
      }
    }

    &__additional {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        flex-direction: row;

        &__img {
          width: 93px;
          height: 112px;
        }

        &__description {
          display: flex;
          flex-direction: column;
          gap: 5px;
          word-break: break-word;
          width: 93px;
          text-align: end;

          &__header {
            font-size: 14px;
            flex: 1;
          }

          &__text {
            font-size: 12px;
            flex: 1;
          }
        }
      }
    }
  }

  @media only screen and (min-width: 850px) {
    &__content {
      flex-direction: column;
      gap: 30px;

      &__additional {
        gap: 30px;
        position: absolute;
        left: 0;

        &__item {
          gap: 10px;
        }
      }
    }
  }

  @media only screen and (max-width: 850px) {
    &__content {
      flex-direction: column;
      gap: 30px;
      padding-top: 20px;

      &__additional {
        flex-direction: row;
        margin-top: 0;
        width: 100%;

        &__item {
          display: flex;
          flex-direction: column;
          margin: auto;
          justify-content: space-between;
          height: 220px;

          &__description {
            text-align: center;
          }
        }
      }
    }
  }
}
