<ng-container *ngIf="!isLoading; else loading">
  <ng-container *ngIf="guest; else guestNotFound">
    <div class="guest-page" [class.rtl]="isRtl">
      <img
        class="flowers"
        [ngClass]="isRtl ? 'flowers-img-rtl' : 'flowers-img'"
        src="./assets/flowers.png"
      />
      <div class="guest-page__content" *transloco="let t; read: 'guestPage'">
        <div class="guest-page__content__wedding-countdown">
          <app-countdown></app-countdown>
        </div>
        <span class="guest-page__content__wedding-date">21.11.23</span>
        <div class="guest-page__content__wedding-timelines">
          <div class="guest-page__content__wedding-timelines__timeline time">
            <span class="guest-page__content__wedding-timelines__timeline__time"
              >19:00</span
            >
            <span class="guest-page__content__wedding-timelines__timeline__time"
              >20:00</span
            >
          </div>
          <div class="guest-page__content__wedding-timelines__timeline label">
            <span
              class="guest-page__content__wedding-timelines__timeline__title"
              >{{ t("reception") }}</span
            >
            <span
              class="guest-page__content__wedding-timelines__timeline__title"
              >{{ t("ceremony") }}</span
            >
          </div>
        </div>
        <span class="guest-page__content__wedding-location">{{
          t("location")
        }}</span>
        <form
          [formGroup]="form"
          class="guest-page__content__wedding-user-actions"
          (ngSubmit)="guestConfirmationStatus()"
        >
          <mat-checkbox
            class="guest-page__content__wedding-user-actions__transport"
            formControlName="transport"
            >{{ t("transport") }}</mat-checkbox
          >
          <div class="guest-page__content__wedding-user-actions__participants">
            <mat-form-field [hideRequiredMarker]="true">
              <mat-label>{{ t("participants") }}</mat-label>
              <mat-select formControlName="participants">
                <mat-option
                  [class.mat-mdc-option-rtl]="isRtl"
                  *ngFor="let participants of numbers"
                  [value]="participants"
                >
                  {{ participants }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="!form.valid"
            >
              {{ changesMade ? t("update") : !guest.confirmation ? t("yes") : t('no') }}
            </button>
          </div>
        </form>
        <div class="guest-page__content__wedding-buttons">
          <a
            [href]="wazeLink"
            class="guest-page__content__wedding-buttons__guest-feature"
            [matTooltip]="t('waze')"
          >
            <img src="./assets/waze-icon.svg" class="icon" />
          </a>
          <button
            mat-fab
            color="primary"
            [matTooltip]="t('whatsUp')"
            (click)="whatsUp()"
          >
            <img src="./assets/ring.png" width="35px" height="35px" />
          </button>
          <a
            [href]="calendarLink"
            target="_blank"
            rel="noopener noreferrer"
            class="guest-page__content__wedding-buttons__guest-feature"
            [matTooltip]="t('googleCalendar')"
          >
            <img src="./assets/calendar-icon.svg" class="icon" />
          </a>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #guestNotFound>
    <div class="guest-not-found">
      <div class="guest-not-found__content">
        <img src="./assets/face.png" />
        <div class="guest-not-found__content__message">
          <div class="guest-not-found__content__message__title">
            <span>YOU ARE TOO SMART TO BE HERE.</span>
            <br />
            <span>FOR YOU, FOR US & FOR OUR WEDDING</span>
          </div>
          <div class="guest-not-found__content__message__details">
            <span
              >PLEASE GO BACK TO THE LINK WE SENT YOU AND CLICK FOR
              APPROVING</span
            >
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
