.cell-changed {
  background-color: #f1bbbb;
}

.mat-mdc-header-cell {
  text-align: center !important;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-mdc-cell,
.mat-mdc-footer-cell {
  text-align: center !important;
  justify-content: center !important;
}

.mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
  min-width: 200px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1920px) {
  .mat-mdc-header-row,
  .mat-mdc-footer-row,
  .mat-mdc-row {
    min-width: 1920px; /* 24 columns, 80px each */
  }
}

@media only screen and (max-width: 2560px) {
  .mat-mdc-header-row,
  .mat-mdc-footer-row,
  .mat-mdc-row {
    min-width: 2560px; /* 24 columns, 80px each */
  }

  .mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
  min-width: 256px;
}
}

@media only screen and (max-width: 760px) {
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-cell {
    min-width: 85px;
  }
}

@media only screen and (max-width: 1730px) {
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-cell {
    min-width: 170px;
  }
}

@media only screen and (max-width: 1730px) {
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-cell {
    min-width: 170px;
  }
}

.mat-mdc-cell:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}

.mat-mdc-row:last-child > .mat-mdc-cell {
  border-bottom: 1px solid #e0e0e0;
}

.mat-mdc-paginator {
  border-top: 1px solid #e0e0e0;
}

.mat-mdc-form-field {
  flex-direction: row !important;
}

.actions-icons {
  &__save {
    margin-right: 0;
  }

  &__cancel {
    margin-right: 0;
  }

  &__edit {
    margin-right: 0;
  }

  &__revert {
    margin-right: 0;
  }
}

.editable-row {
  height: 75px;
}

.container {
  width: 90vw;
  margin: auto;
}

.mat-mdc-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}
