.admin-actions {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  gap: 20px;
}

.filter-guests {
  display: flex;
  flex-direction: row;
  gap: 20px;
  > mat-form-field {
    flex: 1;
  }
}

.db-control {
  display: flex;
  flex-direction: row;
  gap: 20px;
  > button {
    flex: 1;
  }
}

// .mat-mdc-select-rtl > .mat-mdc-select-trigger > .mat-mdc-select-value {
//       text-align: right !important;
// }

.mat-mdc-option-rtl {
  direction: rtl !important;

  > ::ng-deep .mdc-list-item__primary-text {
    margin-right: 0;
    margin-left: auto;
  }

  > ::ng-deep .mat-mdc-option-pseudo-checkbox {
    margin-left: 0;
  }
  
}

.rtl {
  > ::ng-deep .mat-mdc-form-field .mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-form-field-infix .mdc-floating-label--float-above {
    transform: translateY(-20px) !important;
    font-size: 12px;
  }
  
}


//   .mat-form-field-label, .mat-select-value{text-align: right}
// .mat-option { direction: rtl; }
// .mat-option-text {margin-right: 10px;text-align: right; }


::ng-deep .mat-mdc-form-field-subscript-wrapper {
  display: none !important;
} 

.cell-changed {
  background-color: #f1bbbb;
}

.cell-removed {
  text-decoration: line-through;
}

.mat-mdc-header-cell {
  text-align: center !important;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}

.mat-mdc-cell,
.mat-mdc-footer-cell {
  text-align: center !important;
  justify-content: center !important;
}

.mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
  min-width: 200px;
  box-sizing: border-box;
}

@media only screen and (max-width: 1920px) {
  .mat-mdc-header-row,
  .mat-mdc-footer-row,
  .mat-mdc-row {
    min-width: 1920px; /* 24 columns, 80px each */
  }
}

@media only screen and (max-width: 2560px) {
  .mat-mdc-header-row,
  .mat-mdc-footer-row,
  .mat-mdc-row {
    min-width: 2560px; /* 24 columns, 80px each */
  }

  .mat-mdc-header-cell,
.mat-mdc-footer-cell,
.mat-mdc-cell {
  min-width: 256px;
}
}

@media only screen and (max-width: 760px) {
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-cell {
    min-width: 85px;
  }

  table {
    max-height: 395px;
  }
}

@media only screen and (max-width: 1730px) and (min-width: 760px) {
  .mat-mdc-header-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-cell {
    min-width: 170px;
  }
}


.mat-mdc-cell:not(:last-child) {
  border-right: 1px solid #e0e0e0;
}

.mat-mdc-row:last-child > .mat-mdc-cell {
  border-bottom: 1px solid #e0e0e0;
}

.mat-mdc-paginator {
  border-top: 1px solid #e0e0e0;
}

.mat-mdc-form-field {
  flex-direction: row !important;
}

.actions-icons {
  &__save {
    margin-right: 0;
  }

  &__cancel {
    margin-right: 0;
  }

  &__edit {
    margin-right: 0;
  }

  &__revert {
    margin-right: 0;
  }
}

.editable-row {
  height: 75px;
}

.container {
  width: 90vw;
  margin: auto;
}

.mat-mdc-table {
  display: block;
  width: 100%;
  overflow-x: auto;
}
