/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rtl {
  direction: rtl;

  .mat-mdc-select-value {
    text-align: right !important;
  }

  .mat-mdc-option {
    direction: rtl !important;
  }

//   .mat-form-field-label, .mat-select-value{text-align: right}
// .mat-option { direction: rtl; }
// .mat-option-text {margin-right: 10px;text-align: right; }
.mdc-list-item__primary-text {
    margin-right: 0;
    margin-left: auto;
}
}

.dialog-responsive {
  width: 500px;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 300px;
  }
}
