/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "avishag";
  src: url("/assets/fonts/IBMPlexSansHebrew-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.rtl {
  direction: rtl;

  .mat-mdc-select-value {
    text-align: right !important;
  }

  .mat-mdc-option {
    direction: rtl !important;
  }

  .mdc-list-item__primary-text {
    margin-right: 0;
    margin-left: auto;
  }
}

.dialog-responsive {
  width: 500px;
}

@media only screen and (max-width: 760px) {
  .dialog-responsive {
    width: 300px;
  }
}
.mat-mdc-checkbox-ripple, .mdc-checkbox__ripple { display: none !important; }